/*  */
ul {
    list-style-type: none;
    padding:10px 0px 10px 0px
  }
ul li {
    display: flex;
}
ul li div {
    width: 25%;
}
.users {
    display: flex;
    
}
.users div {
    width: 25%;
    /* border-style: dashed;
    border-width: 1px;
    border-color:black */
}